
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow read/write access to the entire database for any authenticated user.
    // Server-side operations using the Admin SDK (like vector search) are authenticated
    // and will be allowed. Client-side operations (like the admin UI) will also
    // be allowed as long as the user is logged in.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
