
rules_version = '2';

// This is a temporary rule for development and demonstration.
// It allows open access for the next 30 days.
// After your demo, you should implement stricter security rules.
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2024, 8, 15);
    }
  }
}
