rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow all reads and writes for the next 30 days for development.
    match /{allPaths=**} {
      allow read, write: if request.time < timestamp.date(2024, 8, 22);
    }
  }
}
